<div class="event">
  <div class="content">
    <div class="summary">
      <em class="text-username"><%= message.user.username %></em>:  
      <span class="text-color">
        <%= message.body%>
      </span>
    </div>
  </div>
</div>
