<h2 class="ui center aligned header">
  Bem vindo ao MessageMe, o App de Chat
</h2>
<h2 class="ui center aligned small icon header">
  <i class="circular violet  power off  icon"></i>
  Faça Login para continuar
</h2>
<div class="ui placeholder segment ">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= render 'form' %>
    </div>
    <div class="middle aligned column " >
      <div class="violet  ui big disabled  button">
        <i class=" signup icon "></i>
        Cadastre-se
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Ou
  </div>
</div>
