<h2 class="ui center aligned icon header">
  <i class=" inverted circular violet rocketchat icon"></i>
  Diga oi!!
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui large feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path) do |form|%>
          <div class=" field">
            <div class="ui fluid icon input">
              <%= form.text_field :body, placeholder: "Digite uma mensagem..."%>
              <%= form.button '<i type ="submit" class="bordered inverted violet icon reply"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
