@import "semantic-ui";

.chatbox {
  height: 30rem;
}

#messages {
  height: 15em;
  overflow: auto;
}

#btn-form {
  display: none;
}

.text-color {
  font-weight: 400;
}

.text-username {
  color: firebrick;
  font-size: 1.5rem;
}
