<div class="ui large inverted menu">
  <div class="ui container">
    <%= link_to "Sala de Chat", root_path, class: "item"%>
    <a class="item">
      Mensagens
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Conta <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "Login", login_path, class: "item" %>
          <a class="item">Logout </a>
          <a class="item">Registar-se</a>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
