<div class="ui large inverted menu">
  <div class="ui container">
    <a class="item" href="#">
      Sala de Chat
    </a>
    <a class="item">
      Mensagens
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Conta <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Login</a>
          <a class="item">Logout </a>
          <a class="item">Registar-se</a>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
