<div class="ui large inverted menu">
  <div class="ui container">
    <%= link_to "Sala de Chat", root_path, class: "item"%>
    <div class="right menu">
      <div class="ui dropdown item">
        Conta <i class="dropdown icon"></i>
        <div class="menu">
          <% if !logged_in? %>
            <%= link_to "Login", login_path, class: "item" %>
          <% else %>
            <%= link_to "Logout", logout_path, method: :delete, class: "item"%>
          <% end %>
        </div>
      </div>
      <% if !logged_in? %>
        <div class="item">
          <%= link_to "Login", login_path, class: "ui primary small button"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
